<div class="container">
  <app-nav></app-nav>
  <h2>List of Stocks</h2>

  <div class = "container">

  <div *ngIf ="listQuotes.length > 9">
      <table class="table">
        <tr>
          <th>Symbol</th>
          <th>Company Name</th>
          <th>Opening</th>
        </tr>
        <tr *ngFor = "let q of listQuotes">
          <td><a href = "company" (click) = "getSymbol($q.symbol)">{{q.symbol}}</a></td>
          <td><a href = "company" (click) = "getSymbol($q.symbol)" >{{q.companyName}}</a></td>
          <td><a>{{q.open}}</a></td>
        </tr>
      </table>
  </div>
  
  <button name="back to the beginning" (click) = "backToZero()">First</button>
  <button name = "getquotes" (click) = "getNextQuotes()">Next 10 >></button>
</div>
