
<p>we get to this page when we click on a sticker link from the 
  stock-directory page's table
</p>

<h2>CompanyName(Gonna have to fill with actual name)</h2>
<form>
  <label>Enter the number of stocks to buy: </label>
  <input type="number" name="numStocks"> <br><br>
  <p style="background-color:aqua "><input type="submit" value="Purchase">
  when we click purchase, we should process and take them
    back to their stock portfolio (which shows updated)
  </p>
  <!---->
</form>
<a href="#">Company's page (get from api)</a><br>
<a href="#">Company's stock news (get from api)</a>
