<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="container">
    <!--make this bottom nav a different nav component-->
    <!-- <app-login></app-login> -->
    <p style="color:red"><strong>
      <h3>Tldr: Go to localhost:4200/login or /home</h3><br>Hey Cirey!! this will have nothing!! so u can delete this message when you get the new layout<br>
      so now whne you wanna go to the start of the app, go to <br>
      localhost:4200/login, and we dont have verification right now, but when <br>
      we do, our spring controller will redirect us to /home. So for now if you wanna do to<br>
      home page, just go to /home. Even if u change the url, it's still super fast 1 page application!!! :D<br>
     
      But yea, this message is from app.component.html, so when u read this, u can delete it :)
    </strong>
    </p>
    <router-outlet></router-outlet>
</div>

