<div class="container">
  <h2>Welcome</h2>
    <!-- the method is how our controller can do the correct function when we click login -->
    <!-- since we have GetMapping and PostMapping -->
    <!-- the action is what page it'll take us after we click the button -->
    <!-- Random change sorry Cindy :) -->
  <form method="POST" action="login">    
    <label>Username: </label>
    <input type="text" name="username"><br><br>
    <label>Password: </label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>
</div>
